body {
  padding: 0;
  min-height: 150vh;
  overflow-x: hidden;
}

#topnavbar {
  background-color: #116936;
  margin: 0;
  border: none;
}

#topnavbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

#logo-main {
  display: block;
  margin: 0 auto;
}

.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #161415;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu {
  color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #b6b6b6;
  background-image: none;
}

div.background {
  background: url(img/inner-banner.jpg);
  width: 100%;
  height: 400px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.background h3 {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.jumbotron {
  background-color: #ffffff;
}

.jumbotron > p {
  font-size: 16px;
}

.title {
  color: #214869;
  font-size: 24px;
  line-height: 1em;
  font-weight: normal;
}

.fontfamily {
  font-family: Arial, Helvetica, sans-serif;
}

.introtable,
td,
th {
  border-collapse: collapse;
  border: 2px solid #dcdcdc;
  padding: 10px;
}

.thumbnail_b {
  position: relative;
  border-style: none;
  border-width: 0 0 0 0;
  padding: 0 0 0 0;
}

.caption {
  position: absolute;
  bottom: 2%;
  left: 15%;
  width: 50%;
  text-align: left;
  color: #6c5085;
}

.container {
  position: relative;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #eeeeee;
}

.img-container:hover .overlay {
  opacity: 0.8;
}

.dropdown-menu a:hover {
  color: black;
  background-color: #faa248;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media only screen and (max-width: 600px) {
  .dropdown-menu {
    display: none !important;
  }
}

#fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
